@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
html{
    margin: 0;
}

.cadastros{
    display: flex;
    border-top: 1px solid white;
    width: 100%;
    padding: 30px 0 0 10px;
}

.cadastrados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

h1{
    text-align: center;
    font-family: 'Patua One', cursive;
    font-weight: 100;
    font-size: 50px;
    color: white;
}

.cadastros-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 107px;
    font-size: 16px;
    background-color: wheat;
    border-radius: 10px;
    padding: 5px 5px 10px 17px;
    margin: 5px;
}

.botao-apagar{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #a5960d;
    color: white;
    margin-top: 3px;
    width: 289px;
    height: 20px;
}

.botao-apagar:hover{
    background-color: #74690d;
    cursor: pointer;
}

.botao-apagar:active{
    background-color: #a5960d;
}