.cabecalho{
    width: 100%;
    height: 20px;
    /* background-color: #a5960d; */
    
}

.cabecalho-ul{
    display: flex;
    justify-content: flex-end;
    padding: 65px 0 0 30px;
    margin: 0 60px 0 0;
}

.lista-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    background-color: #a5960d;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    padding-bottom: 5px;
}

.lista-nav:hover{
    background-color: #80740d;

}
.lista-nav:active{
    background-color: #a5960d;

}

.lista-nav a{
    color: white;
    text-decoration: none;
}
Link{
    color: white;
}
/* VERSÃO MOBILE */
    @media screen and (max-width: 823px){
        .cabecalho{
            display: flex;
            align-items: center;
            padding: 0;
            margin-top: 40px;        }
    }